<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cube</title> 
    <link rel="stylesheet" href="../static/css/style_rotate.css">
</head>
<body>
    <div id="wrap">
        <section id="sectionQube">
            <div class="container">
                <div class="title">
                    <h2>3d-cube</h2>
                </div>
                <div class="content">
                    <input type="radio" name="qube_radio" id="front_face"><label for="">FRONT</label>
                    <input type="radio" name="qube_radio" id="back_face"><label for="">BACK</label>
                    <input type="radio" name="qube_radio" id="left_face"><label for="">LEFT</label>
                    <input type="radio" name="qube_radio" id="right_face"><label for="">RIGHT</label>
                    <input type="radio" name="qube_radio" id="top_face"><label for="">TOP</label>
                    <input type="radio" name="qube_radio" id="bottom_face"><label for="">BOTTOM</label>

                    <div class="qube-box">
                        <span class="face front-face">Front</span>
                        <span class="face back-face">Back</span>
                        <span class="face left-face">Left</span>
                        <span class="face right-face">Right</span>
                        <span class="face top-face">Top</span>
                        <span class="face bottom-face">Bottom</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>